// Reset
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: 300;
	font-family: 'Source Code Pro', sans-serif;
	vertical-align: baseline;
	background: transparent;
	color: #FFF;
}

a, a:hover, a:visited {
	text-decoration: none !important;
}

@mixin background-size($size) {
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}
@mixin transition($transition) {
	-webkit-transition: $transition;
	transition: $transition;
}

@media screen and (max-width: 991px) {
  #header, #contact {
    background-attachment: scroll !important;
  }
}

html, body {
	height: 100%;
	height: 100vh;
	background-color: #100806;
}

h1 {
	font-family: 'Abel';
	font-size: 60px !important;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 7px;
	width: 100%;
}
h2 {
	text-transform: uppercase;
	letter-spacing: 7px;
}
img {
	max-width: 100%;
}
nav {
  padding: 15px 0;
  text-align:center;
  font-weight: 100;
  ul, li {
  	margin: 0 !important;
  	padding: 0 !important;
  }

  a {
  	display:inline-block;
    padding:10px;
    text-transform: uppercase;
    color: rgba(255,255,255,.7);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include transition(0.3s);
  }
  a:hover {
  	color: #FFF;
  }
  .home {
  	font-size: 18px !important;
  	color: #e7d0ba !important;
  	letter-spacing: 0.166667em !important;
  	padding: 5px 30px 10px 30px;
  	margin: 0 50px 10px 50px;
  }
  .active {
  	color: #FFF;
  }
}
#smallNav {
  background-color: #100806;
  position: fixed;
  top: 0px;
  width: 100%;
  @include transition(0.3s);
  z-index: 1;
  padding: 0;
  display: none;
}
@media only screen and (max-width: 576px) {
  #smallNav, #largeNav {
    display: none;
  }
 }
.socials, .socials a {
	color: #FFF;
	@include transition(0.3s);
	text-align: center;
	font-size: 16pt;
}
.socials:hover {
	color: rgba(255,255,255,.6);
	a {
		color: rgba(255,255,255,.6);
		@include transition(0.3s);
	}
}
.socials a:hover {
	color: #FFF !important;
	text-decoration: none;
}
section {
	min-height: 100%;
}
#about, #portfolio, #contact, footer {
	padding: 40px 10px;
}
#header {
	text-align: center;
	padding: 10px;
	background: url("fern.jpg") center center no-repeat fixed #2b3f00;
	@include background-size(cover);
	h1 {
		font-size: 96px !important;
	}
}
#about {
	p {
		text-indent: 3em;
	}
	img {
		max-height: 450px;
		display: block;
		margin: auto;
	}
	.resume {
		margin: 10px 0;
		a {
			padding: 5px;
			background-color: black;
		  color: rgba(255,255,255,.7);
		  border: 1px solid rgba(255,255,255,.7);
	    text-transform: uppercase;
	    font-size: 12px;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    @include transition(0.3s);
	  }
	  a:hover {
	  	color: #FFF;
	  }
	}
}
#portfolio {
	text-align: center;
	.project {
		padding: 10px 0;
	}
	img {
		max-width: 100%;
		max-height: 300px;
	}
	h2 {
		padding: 5px 0;
		margin: 40px 0 10px 0;
		border-bottom: 1px dotted rgba(255,255,255,.7);
	}
	.images {
		margin: 10px;
		img {
			max-height: 300px;
			margin: 10px;
		}
	}
	.more {
		padding: 5px;
		background-color: black;
	  color: rgba(255,255,255,.7);
	  border: 1px solid rgba(255,255,255,.7);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include transition(0.3s);
	}
	.more:hover {
		color: #FFF;
	}
}
.modal-content {
	background-color: black !important;
	color: #FFF;
	border: 1px solid rgba(255,255,255,.7) !important;
	p {
		text-align: left !important;
	}
	h4 {
		text-align: left;
	}
}
#portfolio ul {
	text-align: left;
	li {
		margin-left: 2em;
		margin-right: 2em;
		color: rgba(255,255,255,.7);
	}
}
.modal-title {
	font: 30px 'Abel';
}
.modal-header {
	border-bottom: 1px solid rgba(255,255,255,.7) !important;
}
p.inset {
	margin-left: 2em;
	margin-right: 2em;
	color: rgba(255,255,255,.7) !important;
}
#contact {
	text-align: center;
	background: url("city.jpg") center center no-repeat fixed #2b3f00;
	@include background-size(cover);
	textarea {
		min-height: 150px;
	}
	input, textarea {
		margin-top: 16px;
	  width: 60%;
	  padding: 10px;
	  font: inherit;
	  font-size: 0.8em !important;
	  border-radius: 2px;
	  border: 1px solid darkgray;
	  @include transition(border 360ms);
	}
	input:focus, textarea:focus {
		outline: none;
  	border: 1px solid black;
	}
	input[type="submit"] {
		background-color: black;
	  color: white;
	  border: 1px solid darkgray;
	  opacity: 1;
	  @include transition(opacity 360ms);
	}
	input[type="submit"]:hover {
	  cursor: pointer;
	  opacity: 0.6;
	}
}
footer {
	min-height: 100px;
	text-align: center;
	p {
		font-size: 0.7em;
		color: rgba(255,255,255,.7);
	}
}


// Mobile Side Nav
  .mobileNavOpen {
		position: fixed;
		top:0;
		left:0;
		padding: 10px;
		display:block;
		z-index: 2;
		font-size: 30px;
	}
	.mobileNavOpen i  {
		color: rgb(255,255,255);
		color: rgba(255,255,255,.7);
		transition: 0.3s;
	}
	.mobileNavOpen i:hover {
		color: rgba(255,255,255,1)
	}
	.mobileNavOpen:hover {
		cursor: pointer;
	}
	.overlay {
		display: none;
	  height: 100%;
	  width: 100%;
	  position: fixed;
	  z-index: 2;
	  left: 0;
	  top: 0;
	  background-color: rgb(0,0,0);
	  background-color: rgba(0,0,0, 0.9);
	  overflow-x: hidden;
	}
	.overlay-content {
	  position: relative;
	  top: 25%;
	  width: 100%;
	  text-align: center;
	  margin-top: 30px;
	}
	.overlay a {
	  padding: 8px;
	  text-decoration: none;
	  font-size: 36px;
	  color: #818181;
	  display: block;
	  @include transition(0.3s);
	}
	.overlay a:hover, .overlay a:focus {
	  color: #f1f1f1;
	}
	.overlay .mobileNavClose {
	  position: absolute;
	  top: 20px;
	  right: 45px;
	  font-size: 60px;
	}
	.overlay .mobileNavClose:hover {
		cursor: pointer;
	}
	.overlay .active {
		color: white;
	}
	@media screen and (max-height: 450px) {
	  .overlay a {font-size: 20px}
	  .overlay .mobileNavClose {
	    font-size: 40px;
	    top: 15px;
	    right: 35px;
	  }
	}
@media only screen and (min-width: 577px) {
	.mobileNavOpen, #mobileNav {
		display: none;
	}
}
