html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 300;
  font-family: 'Source Code Pro', sans-serif;
  vertical-align: baseline;
  background: transparent;
  color: #FFF; }

a, a:hover, a:visited {
  text-decoration: none !important; }

@media screen and (max-width: 991px) {
  #header, #contact {
    background-attachment: scroll !important; } }
html, body {
  height: 100%;
  height: 100vh;
  background-color: #100806; }

h1 {
  font-family: 'Abel';
  font-size: 60px !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  width: 100%; }

h2 {
  text-transform: uppercase;
  letter-spacing: 7px; }

img {
  max-width: 100%; }

nav {
  padding: 15px 0;
  text-align: center;
  font-weight: 100; }
  nav ul, nav li {
    margin: 0 !important;
    padding: 0 !important; }
  nav a {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  nav a:hover {
    color: #FFF; }
  nav .home {
    font-size: 18px !important;
    color: #e7d0ba !important;
    letter-spacing: 0.166667em !important;
    padding: 5px 30px 10px 30px;
    margin: 0 50px 10px 50px; }
  nav .active {
    color: #FFF; }

#smallNav {
  background-color: #100806;
  position: fixed;
  top: 0px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  padding: 0;
  display: none; }

@media only screen and (max-width: 576px) {
  #smallNav, #largeNav {
    display: none; } }
.socials, .socials a {
  color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  font-size: 16pt; }

.socials:hover {
  color: rgba(255, 255, 255, 0.6); }
  .socials:hover a {
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.socials a:hover {
  color: #FFF !important;
  text-decoration: none; }

section {
  min-height: 100%; }

#about, #portfolio, #contact, footer {
  padding: 40px 10px; }

#header {
  text-align: center;
  padding: 10px;
  background: url("fern.jpg") center center no-repeat fixed #2b3f00;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #header h1 {
    font-size: 96px !important; }

#about p {
  text-indent: 3em; }
#about img {
  max-height: 450px; }

#portfolio {
  text-align: center; }
  #portfolio .project {
    padding: 10px 0; }
  #portfolio img {
    max-width: 100%;
    max-height: 300px; }

#contact {
  text-align: center;
  background: url("city.jpg") center center no-repeat fixed #2b3f00;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #contact textarea {
    min-height: 150px; }
  #contact input, #contact textarea {
    margin-top: 16px;
    width: 60%;
    padding: 10px;
    font: inherit;
    font-size: 0.8em !important;
    border-radius: 2px;
    border: 1px solid darkgray;
    -webkit-transition: border 360ms;
    transition: border 360ms; }
  #contact input:focus, #contact textarea:focus {
    outline: none;
    border: 1px solid black; }
  #contact input[type="submit"] {
    background-color: black;
    color: white;
    border: 1px solid darkgray;
    opacity: 1;
    -webkit-transition: opacity 360ms;
    transition: opacity 360ms; }
  #contact input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.6; }

footer {
  min-height: 100px;
  text-align: center; }
  footer p {
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.7); }

.mobileNavOpen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  display: block;
  z-index: 2;
  font-size: 30px; }

.mobileNavOpen i {
  color: white;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s; }

.mobileNavOpen i:hover {
  color: white; }

.mobileNavOpen:hover {
  cursor: pointer; }

.overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.overlay .mobileNavClose {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

.overlay .mobileNavClose:hover {
  cursor: pointer; }

.overlay .active {
  color: white; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .overlay .mobileNavClose {
    font-size: 40px;
    top: 15px;
    right: 35px; } }
@media only screen and (min-width: 577px) {
  .mobileNavOpen, #mobileNav {
    display: none; } }

/*# sourceMappingURL=index.css.map */
